<div class="datepicker" [ngStyle]="{'font-family': fontFamily}">
	<input
			[disabled]="disabled"
			class="datepicker__input"
			[placeholder]="placeholder"
			[ngStyle]="{'color': altInputStyle ? colors['white'] : colors['blue'],
                    'background-color': altInputStyle ? accentColor : colors['white'],
                    'border': altInputStyle ? '' : '1px solid #dadada'}"
			(click)="onInputLeftClick()"
			[(ngModel)]="inputText"
			readonly="true"
			[ngClass]="{'active-input': showCalendarLeft}"
	>

	<span *ngIf="!isSingle" class="DateRangeInput-input-arrow">
        <svg width="13px" height="11px" viewBox="2516 -1920 13 11" version="1.1"
			 xmlns="http://www.w3.org/2000/svg" xmlns:xlink="http://www.w3.org/1999/xlink">
            <desc>Created with Sketch.</desc>
            <defs></defs>
            <g id="资源-1" stroke="none" stroke-width="1" fill="none"
			   fill-rule="evenodd" transform="translate(2516.000000, -1920.000000)">
                <g id="图层_2" fill-rule="nonzero" fill="#CCDFFF">
                    <g>
                        <g id="图层_1-2">
                            <path d="M12.5,4.4 L8.9,0.34 C8.53273064,-0.0742135427 7.89921357,-0.112269329 7.48500002,
                            0.255000022 C7.07078647,0.622269373 7.03273066,1.25578644 7.4,1.67 L9.59,4.12 L1,4.12 C0.44771525,
                            4.12 6.76353751e-17,4.56771525 0,5.12 C-6.76353751e-17,5.67228475 0.44771525,6.12 1,6.12 L9.48,
                            6.12 L7.41,8.46 C7.13131847,8.71901878 7.02376321,9.11373982 7.13252119,9.47832976 C7.24127918,
                            9.8429197 7.54750663,10.1142084 7.92254881,10.17822 C8.297591,10.2422316 8.67646685,
                            10.0878751 8.9,9.78 L12.5,5.72 C12.8316459,5.34249374 12.8316459,4.77750626 12.5,4.4 Z"
								  id="Shape"></path>
                        </g>
                    </g>
                </g>
            </g>
        </svg>
       </span>
	<input
			[disabled]="disabled"
			class="datepicker__input"
			[placeholder]="placeholder"
			[ngStyle]="{'color': altInputStyle ? colors['white'] : colors['blue'],
                    'background-color': altInputStyle ? accentColor : colors['white'],
                    'border': altInputStyle ? '' : '1px solid #dadada'}"
			(click)="onInputRightClick()"
			[(ngModel)]="inputTexts"
			readonly="true"
			[ngClass]="{'active-input': showCalendarRight}"
			*ngIf="!isSingle"
	>
	<div
			class="datepicker__calendar is_left"
			*ngIf="showCalendarLeft">
		<div class="datepicker__calendar__nav">
			<div
					class="datepicker__calendar__nav__arrow"
					(click)="onArrowLeftClick()"
			>
				<svg class="datepicker__calendar__nav__chevron" x="0px" y="0px" viewBox="0 0 50 50">
					<g>
						<path d="M39.7,7.1c0.5,0.5,0.5,1.2,0,1.7L29,19.6c-0.5,0.5-1.2,1.2-1.7,1.7L16.5,32.1c-0.5,0.5-1.2,0.5-1.7,0l-2.3-2.3
                    c-0.5-0.5-1.2-1.2-1.7-1.7l-2.3-2.3c-0.5-0.5-0.5-1.2,0-1.7l10.8-10.8c0.5-0.5,1.2-1.2,1.7-1.7L31.7,0.8c0.5-0.5,1.2-0.5,1.7,0
                    l2.3,2.3c0.5,0.5,1.2,1.2,1.7,1.7L39.7,7.1z"/>
					</g>
					<g>
						<path d="M33.4,49c-0.5,0.5-1.2,0.5-1.7,0L20.9,38.2c-0.5-0.5-1.2-1.2-1.7-1.7L8.4,25.7c-0.5-0.5-0.5-1.2,0-1.7l2.3-2.3
                    c0.5-0.5,1.2-1.2,1.7-1.7l2.3-2.3c0.5-0.5,1.2-0.5,1.7,0l10.8,10.8c0.5,0.5,1.2,1.2,1.7,1.7l10.8,10.8c0.5,0.5,0.5,1.2,0,1.7
                    L37.4,45c-0.5,0.5-1.2,1.2-1.7,1.7L33.4,49z"/>
					</g>
				</svg>
			</div>
			<div class="datepicker__calendar__nav__header">
				{{ currentMonth }} {{ currentYear }}
			</div>
			<div
					class="datepicker__calendar__nav__arrow"
					(click)="onArrowRightClick()"
			>
				<svg class="datepicker__calendar__nav__chevron" x="0px" y="0px" viewBox="0 0 50 50">
					<g>
						<path d="M8.4,7.1c-0.5,0.5-0.5,1.2,0,1.7l10.8,10.8c0.5,0.5,1.2,1.2,1.7,1.7l10.8,10.8c0.5,0.5,1.2,0.5,1.7,0l2.3-2.3
                    c0.5-0.5,1.2-1.2,1.7-1.7l2.3-2.3c0.5-0.5,0.5-1.2,0-1.7L29,13.2c-0.5-0.5-1.2-1.2-1.7-1.7L16.5,0.8c-0.5-0.5-1.2-0.5-1.7,0
                    l-2.3,2.3c-0.5,0.5-1.2,1.2-1.7,1.7L8.4,7.1z"/>
					</g>
					<g>
						<path d="M14.8,49c0.5,0.5,1.2,0.5,1.7,0l10.8-10.8c0.5-0.5,1.2-1.2,1.7-1.7l10.8-10.8c0.5-0.5,0.5-1.2,0-1.7l-2.3-2.3
                    c-0.5-0.5-1.2-1.2-1.7-1.7l-2.3-2.3c-0.5-0.5-1.2-0.5-1.7,0L20.9,28.5c-0.5,0.5-1.2,1.2-1.7,1.7L8.4,40.9c-0.5,0.5-0.5,1.2,0,1.7
                    l2.3,2.3c0.5,0.5,1.2,1.2,1.7,1.7L14.8,49z"/>
					</g>
				</svg>
			</div>
		</div>
		<div
				class="datepicker__calendar__content"
		>
			<div
					class="datepicker__calendar__label"
					*ngFor="let day of dayNames"
			>
				{{ day }}
			</div>
			<div
					[@calendarAnimation]="animate"
					class="datepicker__calendar__month"
			>
				<div
						*ngFor="let day of calendarDays"
						class="datepicker__calendar__month__day"
						[ngStyle]="{'cursor': isForbbiddenDay(day,'left') ? 'not-allowed': 'pointer',
                          'background-color': getDayBackgroundColor(day,'left'),
                          'color': isHoveredDay(day,'left') ? accentColor : getDayFontColor(day,'left'),
                          'pointer-events': isForbbiddenDay(day,'left') ? 'none' : ''
                          }"
						(click)="onSelectDay(day)"
						(mouseenter)="hoveredDay = day"
						(mouseleave)="hoveredDay = null"
						data-i="sa-i"
				>
              <span *ngIf="day != 0" data-i="sa-i">
                {{ day.getDate()}}
              </span>
				</div>
			</div>
		</div>
	</div>

	<!--右侧-->
	<div
			class="datepicker__calendar is_right"
			*ngIf="showCalendarRight && !isSingle"
	>
		<div class="datepicker__calendar__nav">
			<div
					class="datepicker__calendar__nav__arrow"
					(click)="onArrowLeftClick()"
			>
				<svg class="datepicker__calendar__nav__chevron" x="0px" y="0px" viewBox="0 0 50 50">
					<g>
						<path d="M39.7,7.1c0.5,0.5,0.5,1.2,0,1.7L29,19.6c-0.5,0.5-1.2,1.2-1.7,1.7L16.5,32.1c-0.5,0.5-1.2,0.5-1.7,0l-2.3-2.3
                    c-0.5-0.5-1.2-1.2-1.7-1.7l-2.3-2.3c-0.5-0.5-0.5-1.2,0-1.7l10.8-10.8c0.5-0.5,1.2-1.2,1.7-1.7L31.7,0.8c0.5-0.5,1.2-0.5,1.7,0
                    l2.3,2.3c0.5,0.5,1.2,1.2,1.7,1.7L39.7,7.1z"/>
					</g>
					<g>
						<path d="M33.4,49c-0.5,0.5-1.2,0.5-1.7,0L20.9,38.2c-0.5-0.5-1.2-1.2-1.7-1.7L8.4,25.7c-0.5-0.5-0.5-1.2,0-1.7l2.3-2.3
                    c0.5-0.5,1.2-1.2,1.7-1.7l2.3-2.3c0.5-0.5,1.2-0.5,1.7,0l10.8,10.8c0.5,0.5,1.2,1.2,1.7,1.7l10.8,10.8c0.5,0.5,0.5,1.2,0,1.7
                    L37.4,45c-0.5,0.5-1.2,1.2-1.7,1.7L33.4,49z"/>
					</g>
				</svg>
			</div>
			<div class="datepicker__calendar__nav__header">
				{{ currentMonth }} {{ currentYear }}
			</div>
			<div
					class="datepicker__calendar__nav__arrow"
					(click)="onArrowRightClick()"
			>
				<svg class="datepicker__calendar__nav__chevron" x="0px" y="0px" viewBox="0 0 50 50">
					<g>
						<path d="M8.4,7.1c-0.5,0.5-0.5,1.2,0,1.7l10.8,10.8c0.5,0.5,1.2,1.2,1.7,1.7l10.8,10.8c0.5,0.5,1.2,0.5,1.7,0l2.3-2.3
                    c0.5-0.5,1.2-1.2,1.7-1.7l2.3-2.3c0.5-0.5,0.5-1.2,0-1.7L29,13.2c-0.5-0.5-1.2-1.2-1.7-1.7L16.5,0.8c-0.5-0.5-1.2-0.5-1.7,0
                    l-2.3,2.3c-0.5,0.5-1.2,1.2-1.7,1.7L8.4,7.1z"/>
					</g>
					<g>
						<path d="M14.8,49c0.5,0.5,1.2,0.5,1.7,0l10.8-10.8c0.5-0.5,1.2-1.2,1.7-1.7l10.8-10.8c0.5-0.5,0.5-1.2,0-1.7l-2.3-2.3
                    c-0.5-0.5-1.2-1.2-1.7-1.7l-2.3-2.3c-0.5-0.5-1.2-0.5-1.7,0L20.9,28.5c-0.5,0.5-1.2,1.2-1.7,1.7L8.4,40.9c-0.5,0.5-0.5,1.2,0,1.7
                    l2.3,2.3c0.5,0.5,1.2,1.2,1.7,1.7L14.8,49z"/>
					</g>
				</svg>
			</div>
		</div>
		<div
				class="datepicker__calendar__content"
		>
			<div
					class="datepicker__calendar__label"
					*ngFor="let day of dayNames"
			>
				{{ day }}
			</div>
			<div
					[@calendarAnimation]="animate"
					class="datepicker__calendar__month"
			>
				<div
						*ngFor="let day of calendarDays"
						class="datepicker__calendar__month__day"
						[ngStyle]="{'cursor': isForbbiddenDay(day,'right') ? 'not-allowed': 'pointer',
                          'background-color': getDayBackgroundColor(day,'right'),
                          'color': isHoveredDay(day,'right') ? accentColor : getDayFontColor(day,'right'),
                          'pointer-events': isForbbiddenDay(day,'right') ? 'none' : ''
                          }"
						(click)="onSelectRightDay(day)"
						(mouseenter)="hoveredDay = day"
						(mouseleave)="hoveredDay = null"
						data-i="sa-i"
				>
              <span *ngIf="day != 0" data-i="sa-i">
                {{ day.getDate() }}
              </span>
				</div>
			</div>
		</div>
	</div>
</div>