<div i18n="@@dataContent">
  数据

  <div class="date-card">
    <app-datepicker-range [(date)]="startDate" [(dateRight)]="TodayDate" (dateChange)="getLeft($event)"
                    [rangeMonth]="1000" (dateRightChange)="getRight($event)" [isSingle]="false"></app-datepicker-range>
  </div>

  <h3>测试</h3>

  <div class="date-card">
    <!--<datepicker [(date)]="startDate" [(dateRight)]="TodayDate" (dateChange)="getLeft($event)"-->
                      <!--[rangeMonth]="1000" (dateRightChange)="getRight($event)" [isSingle]="false"></datepicker>-->
  </div>

  <div>
    <button (click)="setpage(20)"> 更改为page20</button>
    <h3>pagination测试</h3>
      <app-pagination [total]="pagetotal" [current]="currentpage" (pageChange)= 'handlePageChange($event)'></app-pagination>
  </div>

</div>

<div>
  <h3>radio 测试</h3>
  <app-radio [disabled]="false" [label]="'单选1'" [groupName]="'testGroup'"></app-radio>
  <app-radio [disabled]="false" [label]="'单选2'" [groupName]="'testGroup'"></app-radio>
</div>